* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto", sans-serif;
  }

body{
    background-color: #282828;
}

.header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    justify-content: space-between;
    color: white;
    background-color: black;
    font-size: 22px;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 92px;
    padding-right: 92px;
}

.header div{
    cursor: pointer;
}

.header .navigation{
    display: flex;
}

.header .navigation .nav-button{
    padding-left: 90px;
    height: min-content;
    margin: auto 0;
}

.header .navigation .nav-button.active{
    text-decoration-line: underline;
    text-decoration-color: white;
    text-decoration-thickness: 6px;
    text-underline-offset: 8px;
}

.header .logo img{
    height: 53px;
}

.header .logo{
    height:min-content;
    margin-top: auto;
    margin-bottom: auto;
}



.header a{
    text-decoration: none;
    color: white;
}

.footer{
    background-color: black;
    color: white;
    margin-top: 5000px;
    
}

.footer-text{
    display: block;
    margin-left: auto;
    width:min-content;
    height: min-content;
    padding: 20px 92px;
}

.block {
    display: flex;
}
.link{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
}

.white-line{
    height: 4px;
    background-color: #fff;
}